::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 40px;
  background-color: rgb(233, 230, 230);
}

html.dark ::-webkit-scrollbar-thumb {
  @apply bg-afexdark-regular;
}
html.dark ::selection {
  background-color: #b0b7c3;
  color: #4b5568;
}
body {
  @apply !text-textgrey-normal dark:!text-afexdark-regular transition-all duration-200;
}
html.dark .mantine-Paper-root {
  background-color: #1a171f !important;
  color: #b0b7c3 !important;
}

html.dark .mantine-Popover-dropdown {
  background-color: #1a171f !important;
}

html.dark .mantine-Modal-title {
  color: #b0b7c3 !important;
}

.mantine-Modal-modal {
  padding: 0;
  border-radius: 1.75rem;
}

.mantine-Modal-header {
  color: #54565b;
  font-size: 1.25rem;
  text-transform: capitalize;
  padding: 2rem 2rem 1rem 2rem;
}
.mantine-Calendar-day[data-selected='true'] {
  background-color: #7738dd;
}
.mantine-Tabs-tab:hover {
  border: none;
}
.mantine-Tabs-tab[data-active='true'] {
  border: none !important;
}
.mantine-Tabs-tabsList {
  padding-bottom: 8px;
}
.mantine-Tabs-tab[data-active='true']::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 2px;
  background-color: #7738dd;
}

.mantine-Modal-overlay,
.mantine-Drawer-overlay {
  background-color: rgba(50, 59, 75, 0.8);
}
.mantine-Modal-root,
.mantine-Drawer-root {
  z-index: 9999;
}

.mantine-Popover-dropdown {
  z-index: 20 !important;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  border-radius: 10px;
}
/* 
a[aria-current='page'] svg path {
  fill: #fff !important;
} */

.checkbox {
  /* appearance: none; */
  position: relative;
  cursor: pointer;
  margin-right: 20px;
}
html.dark .checkbox.checkbox.white::before,
html.dark .checkbox::before {
  background-color: #1e1e1e;
}
.checkbox:hover::before {
  background-color: #f1ebfc;
}
.checkbox::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 22px;
  width: 22px;
  background-color: #ffffff;
  border-radius: 5px;
  /* border-color: 5px solid #c1bebd; */
  border: 1px solid#b6b4b8;
}
.checkbox.white::before {
  /* background-color: rgb(146, 141, 141); */
  border: #680202;
  border: 500px;
}
.checkbox:checked::before {
  background-color: #f1ebfc;
  content: url('./assets/images/check.svg');
  padding-top: 1px;
  padding-left: 5px;
  border: 1px solid#7738DD;
}

.chartjs-x-axis-label,
.chartjs-y-axis-label {
  font-size: 18px;
  font-family: 'Arial';
  color: blue;
}

/* table {
  border: 1px solid lightgray;
  width: 100vw;
}

tbody {
  border-bottom: 1px solid lightgray;
}

th {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 2px 4px;
}

tfoot {
  color: gray;
}

tfoot th {
  font-weight: normal;
} */

/* .mantine-Stepper-stepIcon[data-completed='true'] {
  border-color: #38cb89 !important;
  background-color: #fff;
}

.mantine-Stepper-stepIcon[data-completed='true']
  .mantine-Stepper-stepCompletedIcon {
  background-color: #fff;
}
.mantine-Stepper-stepIcon[data-completed='true']
  .mantine-Stepper-stepCompletedIcon
  svg {
  fill: #38cb89;
}
.mantine-Stepper-step[data-completed='true'] .mantine-Stepper-stepLabel {
  color: #38cb89;
}

/* .mantine-Tooltip-tooltip {
  background: rgba(143, 92, 227, 1);
  padding-bottom: 1.5rem;
} */
